.login-btn{
    font-size: 25px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.credential-heading{
    padding: 25px;
    /*background-color: #37a8ff !important;*/
    color: white;
    }
    .p-20{
        padding: 20px;
    }
    .backdrop-position-fixed .md-opaque{
        position: fixed;
    }
    

    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:white !important;
    background-image: none;
    color: rgb(0, 0, 0);
}

/*Bread crum*/
.breadcrumb li{color: white;}

