body {
  overflow-y: hidden;
  margin: 0px !important;
  margin-left: -1px;
  padding: 0px !important;
  overflow-x: hidden !important;
  font-size:16px;
  font-family: "CiscoSansTTLight";
}
.selected{color:green}
.bg-img {
  background: url('../images/professionalism_2.jpg') top;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginview {
  padding-top: 178px;
  padding-bottom: 247px;
}
.login-form {
  padding: 10px 38px;
  border-radius: 4px;
  letter-spacing: 1px;
  position: relative;
}

.profile-name-card {
  border: 1px solid #fff;
  border-radius: 30px;
  width: 45px;
  text-align: center;
  font-size: 29px;
  min-height: 1em;
  color: white;
}
.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
  /*background-color: dodgerblue;*/
  background-color: rgba(255, 51, 104, 0.83);
}
.btn-signin {
  padding:10px;
  font-size: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  color: #fff;
  background-color: #FF3368;
  border-radius: 30px;
  text-align: center;
  font-weight: normal;
  width: 100%;
}
.btn-signin:focus{outline: none !important;
  border:0px;}
.loginBox {
  height: 324px;
  display: block;
  margin: 0px auto;
  width: 391px;
  /* margin-top: 5%; */
  padding: 10px 10px 27px 10px;
  border-radius: 3px;
  opacity: 0.8;
  background-color: #01091c;}
.m-t-15{margin-top: 15px;}
.white-color {
  color:#fff !important;

}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
  color: #666;
}
.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.9;
}
.round-input{
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #685C5E;
  border: 0px;
  border-radius: 30px;
  width: 100%;
  text-align: center;
  color: #fff;}
input:focus{outline: none !important;border: 0px;}
.round-input:hover{background-color: rgba(105, 89, 89, 0.43);}
.hand-cursor{cursor: pointer}
.font-12{font-size: 12px;}
.p-10{padding: 10px;}
.p-15{padding:15px;}
