<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <a href="index.html"><h1><span>smart</span>Solutions</h1></a>
          </div>
        </div>

        <div class="navbar-collapse collapse">
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <!--<li data-ng-if="!showHome" role="presentation"><a ui-sref="app.signin" class="active">Home</a></li>-->
              <li data-ng-if="!showLogOut" role="presentation"><a ui-sref="app.about">About Us</a></li>
              <li data-ng-if="!showLogOut" role="presentation"><a ui-sref="app.services">Services</a></li>
              <li data-ng-if="!showLogOut" role="presentation"><a ui-sref="app.blog">Blog</a></li>
              <li data-ng-if="!showLogOut" role="presentation"><a ui-sref="app.contact">Contact</a></li>
              <li data-ng-if="showLogOut" role="presentation"><a ui-sref="app.signin" class="sign-out-btn">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>