<div class="login-bg-img">
  <div class="container">
    <div class="row">
      <div class="center-block login-box-width">
        <div class="login-form">

          <div class="head-info">
            <div class="text-center login-text">Employee Login</div>
          </div>
          <div class="clear"> </div>
          <div class="avtar">
            <img src="images/avtar.png" class="img-round">
          </div>
          <form>
            <input type="email" class="text" placeholder="Username" >
            <div class="key">
              <input type="password" placeholder="Password" >
            </div>
          </form>
          <div class="signin">
            <input type="submit" value="Login" ng-click="signInCtrl.onLoginHandler()">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

