<!--<div class="my-container">
  <div class="bg-img">
    <div class="container padding-bottom">
      <div class="loginview center-block">
        <div class="loginBox">
          <div id="profile-name" class="profile-name-card center-block ">E</div>
          <form class="form-signin login-form" name="signinForm" novalidate>
            <input type="email" name="email" id="inputEmail" class="m-t-15 round-input p-10 font-normal"
                   placeholder="User Name" required >
            <input type="password" id="inputPassword" class=" m-t-15 round-input p-10 font-normal"
                   placeholder="Password" name="password"
                   required>
            <button class=" m-t-15  btn-signin"
                    type="submit">Log In
            </button>
          </form>
          <div class="text-center">
            <p class="forgot-password  m-t-15 hand-cursor white-color font-12">
              Lost your password?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">

      <div class="login-form">
      	<div class="close"> </div>
      		<div class="head-info">
      			<label class="lbl-1"> </label>
      			<label class="lbl-2"> </label>
      			<label class="lbl-3"> </label>
      		</div>
      			<div class="clear"> </div>
      	<div class="avtar">
      		<img src="images/avtar.png">
      	</div>
      			<form>
      					<input type="text" class="text" value="Username" >
      						<div class="key">
      					<input type="password" value="Password" >
      						</div>
      			</form>
      	<div class="signin">
      		<input type="submit" value="Login">
      	</div>
      </div>
      
    </div>
  </div>
</div>
