<div class="my-container">
  <div class="bg-img">
    <div class="container padding-bottom">
      <div class="loginview center-block">
        <div class="loginBox">
          <div id="profile-name" class="profile-name-card center-block ">E</div>
          <form class="form-signin login-form" name="signinForm" novalidate>
            <input type="email" name="email" id="inputEmail" class="m-t-15 round-input p-10 font-normal"
                   placeholder="User Name" required >
            <input type="password" id="inputPassword" class=" m-t-15 round-input p-10 font-normal"
                   placeholder="Password" name="password"
                   required>
            <button class=" m-t-15  btn-signin"
                    type="submit">Log In
            </button>
          </form>
          <div class="text-center">
            <p class="forgot-password  m-t-15 hand-cursor white-color font-12">
              Forgot your password?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
