<div class="container">
  <div class="col-md-12 text-center m-t-20">

  </div>

  <div class="col-md-12">
    <div>
      <table class="tb-border table table-hover table-striped">
        <thead>
        <tr>
          <th>Claim Id</th>
          <th>project Name  </th>
          <th>Location</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="trackObj in trckStsCtrl.projectStatusArr"
        data-ng-click="trckStsCtrl.onClaimRecordHandler()">
          <td>{{trackObj.claimid}}</td>
          <td>{{trackObj.name}}</td>
          <td>{{trackObj.locat}}</td>
          <td>{{trackObj.date}}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class=" pull-left text-center ">  <md-button class="cust-btn btn-bg-color  md-raised md-primary" ui-sref="app.profile">Back</md-button></div>
    <div class="row shop-tracking-status" >

      <div class="col-md-12">

          <div class="order-status">

            <div class="order-status-timeline">
              <!-- class names: c0 c1 c2 c3 and c4 -->
              <div class="order-status-timeline-completion c3"></div>
            </div>

            <div class="image-order-status image-order-status-new active img-circle">
              <div class="icon"></div>
              <span class="status">Accepted</span>

            </div>
            <div class="image-order-status image-order-status-active active img-circle">
              <span class="status">In progress</span>
              <div class="icon"></div>
            </div>
            <div class="image-order-status image-order-status-intransit active img-circle">
              <span class="status">Shipped</span>
              <div class="icon"></div>
            </div>
            <div class="image-order-status image-order-status-delivered active img-circle">
              <span class="status">Delivered</span>
              <div class="icon"></div>
            </div>
            <div class="image-order-status image-order-status-completed active img-circle">
              <span class="status">Completed</span>
              <div class="icon"></div>
            </div>

          </div>

      </div>

    </div>
  </div>

</div>


