<div class="">
  <div class="wrapper-container-mrg">
    <div class="container">
      <div class="center-block">
        <div class="col-md-5 col-md-offset-4">
          <div class="pull-left">
            <img class="default-user-img-size" src="img/default_profile_big.png">
          </div>
          <div class=" p-l-0 pull-left l-h-22 m-l-20">
            <div class="color-blue font-bold">Name:<span class="color-black p-l-5 name-txt">Kalyani veena</span></div>
            <div class="color-blue">Designation:<span class="color-black p-l-5">Software Developer</span></div>
            <div class="color-blue">Department:<span class="color-black p-l-5">IT</span></div>
            <div class="color-blue">Employee Id:<span class="color-black p-l-5">PMS-1109</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-12  m-t-20 ">
        <div class="col-md-offset-4">
          <div class=" pull-left text-center ">  <md-button class="cust-btn btn-bg-color  md-raised md-primary" ui-sref="app.project_details">Apply Claim</md-button></div>
          <div class=" pull-left p-l-0">  <md-button class="cust-btn btn-bg-color md-raised md-primary" ui-sref="app.track_status">Track Status</md-button></div>
        </div>
      </div>
    </div>
  </div>
</div>



